name: CI

on: # yamllint disable-line rule:truthy
  pull_request:
  workflow_call:

jobs:
  Ruby:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run the Ruby tests
        env:
          COVERAGE: true
          RAILS_ENV: test
          SE_AVOID_STATS: true
        run: bin/rails db:setup ruby:test

  JavaScript:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Enable the Corepack tool
        run: corepack enable

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"

      - name: Install the Node dependencies
        run: yarn install

      - name: Run the JavaScript tests
        run: yarn test:coverage

  Linting:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Enable the Corepack tool
        run: corepack enable

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"

      - name: Install the Node dependencies
        run: yarn install

      - name: Lint the ERB
        run: bin/rake erb:lint

      - name: Lint the ERB (Herb)
        run: yarn lint:erb

      - name: Lint the Ruby
        run: bin/rubocop --format github --parallel

      - name: Lint the JavaScript
        run: yarn lint

      - name: Lint the CSS
        run: yarn lint:css

  Docker:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build the image
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false

  Vulnerabilities:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Scan for vulnerabilities
        run: bin/brakeman --format github --no-pager

      - name: Scan for vulnerabilities in JavaScript dependencies
        run: bin/importmap audit
